/*@import "preflight.css";*/
@import "reset.css";
@import "../bundle/inter/wght.css";
@import "../bundle/geist-mono/wght.css";
@import "../bundle/iosevka/latin.css";
@import "../bundle/instrument-serif/latin.css";

:root {
    --font-mono: "Geist Mono Variable", monospace;
    --font-sans: "Inter Variable", system-ui, sans-serif;
    --font-serif: "Instrument Serif", "Times New Roman", serif;
}

html {
    background: #010203;
    color: #f0f0f0;
    font-size: 18px;
}

body {
    padding: 1rem;
}

h1 {
    cursor: pointer;
    font-family: var(--font-sans);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 12px;
    text-transform: uppercase;
    user-select: none;
}

span {
    color: #ccc;
    font-family: var(--font-serif);
    /*font-style: italic;*/
    /*font-weight: normal;*/
    font-size: 1.5rem;
    line-height: 1.25;
    margin-left: 4px;
}

ul {
    font-family: var(--font-mono);
    letter-spacing: -0.25px;
    margin-top: 0.5rem;
    /*padding: 0.5rem 2rem;*/
}
