* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("../fonts/BerkeleyMono-Variable.woff2") format("woff2-variations");
    font-stretch: 50% 100%;
    font-weight: 100 900;
    font-display: block;
}

@font-face {
    font-family: "Instrument Serif";
    src: url("../fonts/InstrumentSerif-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: block;
}

html {
    background: #010203;
    color: #f0f0f0;
    font-size: 18px;
}

body {
    line-height: 1.5;
    padding: 1rem;
}

h1 {
    cursor: pointer;
    font-family: "Berkeley Mono", monospace;
    font-size: 3rem;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 1;
    margin-top: 12px;
    text-transform: uppercase;
    user-select: none;
}

span {
    color: #ccc;
    font-family: "Instrument Serif", "Times New Roman", serif;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-left: 4px;
}

ul {
    font-family: "Berkeley Mono", monospace;
    letter-spacing: -0.25px;
    margin-top: 0.5rem;
}
